html {
  font-size: 62.5%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 1rem;
  margin: 1rem;
}

h1 {
  font-size: 32px;
}
p {
  font-size: 1.6rem;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

.button {
  padding: 2rem;
  margin: 35rem 3rem;
  background-color: rgb(11, 180, 237);
  border-radius: 20%;
}

.button2 {
  padding: 2rem;
  margin: 35rem 15rem;
  background-color: rgb(11, 180, 237);
  border-radius: 20%;
}

.nyt {
  padding: 2rem;
  margin: 35rem 10rem;
}

.nyt2 {
  padding: 2rem;
  margin: 35rem 20rem;
}

/* @media screen and (min-width: 426px) {
  nav ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    border-radius: 2%;
  }
}

@media screen and (min-width: 769px) {

} */
