html {
  font-size: 62.5%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(64, 201, 211);
  color: black;
  padding: 1rem;
}

h1 {
  font-size: 32px;
}
p {
  font-size: 1.6rem;
}
.button {
  padding: 2rem;
}

/* @media screen and (min-width: 426px) {
  nav ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    border-radius: 2%;
  }
}

@media screen and (min-width: 769px) {

} */
